.lunar-date-picker {
  background-color: #fff;
  padding: 0 34rpx;
}

.picker-column-item {
  line-height: 88rpx;
  text-align: center;
}
.pickerTab {
  width: 100%;
  height: 88rpx;
  .pick-tabs {
    width: 280rpx;
    height: 56rpx;
    border-radius: 28rpx;
    background-color: #f4f4f5;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    align-items: center;
    .pick-tab {
      flex: 1;
      line-height: 56rpx;
      text-align: center;
      font-weight: 500;
      font-size: 28rpx;
      color: #999999;
      border-radius: 28rpx;
      &.active {
        background-color: #50d491;
        color: white;
      }
    }
  }
}

.pickerColumn {
  line-height: 88rpx;
  text-align: center;
  font-size: 34rpx;
  font-weight: 400;
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}

.LunarPickerView {
  .pickerColumn0 {
    flex: 0 0 30%;
  }

  .pickerColumn1 {
    flex: 0 0 19%;
  }

  .pickerColumn2 {
    flex: 0 0 17%;
  }
  .pickerColumn3 {
    flex: 0 0 17%;
  }

  .pickerColumn4 {
    flex: 0 0 17%;
  }
}

.picker-select-item {
  height: 88rpx;
  background-color: transparent;
  font-weight: 600;
}
